/* Copyright (c) 2022, MeizuCustoms enthusiasts
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
    rpmh-regulator-ldoa14 {
        /delete-node/ regulator-l14;

        pm8998_l14: regulator-l14 {
			regulator-name = "pm8998_l14";
			qcom,set = <RPMH_REGULATOR_SET_ALL>;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1880000>;
			qcom,init-voltage = <1800000>;
			qcom,init-mode = <RPMH_REGULATOR_MODE_LDO_HPM>;
		};
    };

    rpmh-regulator-ldoa21 {
        status = "disabled";
        /delete-node/ regulator-l21;

        pm8998_l21: regulator-l21 {
            status = "disabled";
			regulator-name = "pm8998_l21";
			qcom,set = <RPMH_REGULATOR_SET_ALL>;
			regulator-min-microvolt = <2704000>;
			regulator-max-microvolt = <3504000>;
			qcom,init-voltage = <3456000>;
			qcom,init-mode = <RPMH_REGULATOR_MODE_LDO_LPM>;
		};
    };

    rpmh-regulator-ldoa22 {
        /delete-node/ regulator-l22;

        pm8998_l22: regulator-l22 {
			regulator-name = "pm8998_l22";
			qcom,set = <RPMH_REGULATOR_SET_ALL>;
			regulator-min-microvolt = <2864000>;
			regulator-max-microvolt = <3312000>;
            #qcom,init-enable = <0>;
			qcom,init-voltage = <3312000>;
			qcom,init-mode = <RPMH_REGULATOR_MODE_LDO_HPM>;
		};
    };

    lcd_vddio_regulator: lcd_vddio_fixed_regulator {
        compatible = "regulator-fixed";
        regulator-name = "lcd_vddio_regulator";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-boot-on;
        enable-active-high;
        gpio = <&tlmm 51 0x0>;
    };

    lcd_vdd_regulator: lcd_vdd_fixed_regulator {
        compatible = "regulator-fixed";
        regulator-name = "lcd_vdd_regulator";
        regulator-min-microvolt = <3000000>;
        regulator-max-microvolt = <3000000>;
        regulator-boot-on;
        enable-active-high;
        gpio = <&tlmm 26 0x0>;
    };
};

&pm8998_l20 {
    qcom,init-mode = <RPMH_REGULATOR_MODE_LDO_HPM>;
};

&pm8998_l28 {
    qcom,init-mode = <RPMH_REGULATOR_MODE_LDO_HPM>;
};

&gpu_cx_gdsc {
    /delete-property/ vdd_parent-supply;
};

/* PM */
&soc {
	qcom,lpm-levels {
		qcom,pm-cluster@0 {
            qcom,pm-cpu@0 {
                qcom,use-prediction;
            };
        };
    };

    /delete-node/ qcom,rpmh-master-stats@b221200;
	qcom,rpmh-master-stats {
        compatible = "qcom,rpmh-master-stats";
    };
};
